@import-normalize;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* https://jmperezperez.com/outline-focus-ring-a11y/ */
.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}

button {
  text-align: center;
  padding: 0;
  margin: 0;
  background: lightgray;
  border-width: 2px;
  border-style: outset;
}

button:active {
  border-style: inset;
}
